

.addtocart{background: #008000 !important;}
.order-form .input-holder label{padding: 10px;}
.stallnameList{border: 1px solid;padding: 18px;}
@media screen and (max-width: 990px) {
    #submit{margin-top: 25px;}
}